.nav-bar {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-container {
  display: flex;
  align-items: center;
}
.logo img {
  max-height: 60px;
}
.nav-links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}
.nav-link:hover {
  opacity: 0.7;
}
